@font-face {
  font-family: 'TTLakes-Medium';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/TTLakes-Medium.woff) format("woff");
}

@font-face {
  font-family: 'TTLakes-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
}

@font-face {
  font-family: 'TTLakes-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F8F8F8;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'TTLakes-Medium', 'Arial', 'Sans-serif';
  font-weight: 400;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  background-color: #FFFFFF;
}

.header .menu {
  min-height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu .logo {
  margin-left: 20px;
}

.header .menu .logo::after {
  position: absolute;
  content: '';
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
  left: 176px;
  top: 28px;
}

.header .menu .logo__link-img {
  width: 97px;
  height: 50px;
  vertical-align: middle;
}

.header .menu__button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  border: none;
}

.header .menu__button-burger {
  background-image: url("../img/burger.svg");
}

.header .menu__button-repair {
  background-image: url(../img/repair.svg);
}

.header .menu__button-checkStatus {
  margin-left: 20px;
  background-image: url(../img/checkstatus.svg);
}

.header .menu__button-call {
  background-image: url(../img/call.svg);
  display: none;
}

.header .menu__button-chat {
  background-image: url(../img/chat.svg);
  display: none;
}

.header .menu__button-profile {
  background-image: url(../img/profile.svg);
  display: none;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 24px;
}

.services__title {
  margin-bottom: 24px;
}

.services__title-title {
  font-family: 'TTLakes-Bold';
  font-size: 28px;
  font-weight: 900;
  color: #1B1C21;
  line-height: 40px;
}

.services__title-title::before {
  position: absolute;
  content: '';
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  left: 0;
}

.services__title-buttons {
  display: none;
}

.slider__menu {
  overflow-x: auto;
  display: -webkit-box;
}

.slider__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 246px;
  height: 40px;
}

.slider__menu-item:hover {
  background: #FFFFFF;
  border: 2px solid #B8ffEC;
  border-radius: 6px;
}

.slider__menu-item_link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  letter-spacing: -0.2px;
}

.services__description {
  margin-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__description-text_first {
  color: #1B1C21;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.services__description-text_second {
  display: none;
}

.services__description-text_third {
  display: none;
}

.services__description-text .readnext__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  border: none;
  background: none;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: 'TTLakes-Medium';
  color: #1B1C21;
  font-weight: 400;
}

.services__description-text .readnext__button-img {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services__description-service_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__description-service_photo img {
  border-radius: 10px;
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'TTLakes-Medium';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/TTLakes-Medium.woff) format("woff");
}

@font-face {
  font-family: 'TTLakes-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
}

@font-face {
  font-family: 'TTLakes-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
}

@media (min-width: 768px) {
  .header .menu__button-call {
    display: initial;
  }
  .header .menu__button-chat {
    margin-left: 20px;
    display: initial;
  }
  .header .menu__button-profile {
    margin-left: 20px;
    margin-right: 42px;
    display: initial;
  }
  .header .menu__button-repair::before {
    position: absolute;
    content: '';
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    right: 120px;
    top: 28px;
  }
  .header .menu .logo::after {
    position: absolute;
    content: '';
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    left: 50px;
    top: 28px;
  }
  .services {
    background-color: #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 24px;
  }
  .services__title {
    margin-bottom: 32px;
  }
  .services__title-title {
    font-family: 'TTLakes-Bold';
    font-size: 28px;
    font-weight: 900;
    color: #1B1C21;
    line-height: 40px;
  }
  .services__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
  }
  .services__description-text {
    width: 50%;
  }
  .services__description-text_first {
    color: #1B1C21;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
  .services__description-text_second {
    color: #1B1C21;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    display: block;
  }
  .services__description-text .readnext__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: 'TTLakes-Medium';
    color: #1B1C21;
    font-weight: 400;
  }
  .services__description-text .readnext__button-img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services__description-service_photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@font-face {
  font-family: 'TTLakes-Medium';
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/TTLakes-Medium.woff) format("woff");
}

@font-face {
  font-family: 'TTLakes-Bold';
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
}

@font-face {
  font-family: 'TTLakes-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .services {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 42px;
  }
  .services__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 8px;
  }
  .services__title-title {
    font-family: 'TTLakes-Bold';
    font-size: 28px;
    font-weight: 900;
    color: #1B1C21;
    line-height: 40px;
  }
  .services__title-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services__title-buttons_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__title-buttons_btn .btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    margin-left: 8px;
  }
  .services__title-buttons_btn .btn__button-repair {
    background-image: url(../img/repair.svg);
    margin-right: 32px;
  }
  .services__title-buttons_btn .btn__button-checkStatus {
    background-image: url(../img/checkstatus.svg);
  }
  .services__title-buttons_btn h4 {
    color: #1B1C21;
    font-size: 16px;
    font-weight: 500;
  }
  .slider__menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services__description {
    margin-top: 20px;
  }
  .services__description-text_first {
    color: #1B1C21;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
  .services__description-text_second {
    display: none;
  }
  .services__description-text_third {
    color: #1B1C21;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    display: block;
  }
  .services__description-text .readnext__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: 'TTLakes-Medium';
    color: #1B1C21;
    font-weight: 400;
  }
  .services__description-text .readnext__button-img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services__description-service_photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }
}

.mobile {
  max-width: 320px;
  min-height: 100vh;
  -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
          box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 88px;
}

.mobile__header .logo {
  margin-right: auto;
  margin-left: 17px;
}

.mobile__button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FF3E79;
  border: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.mobile__button-close {
  background-image: url("../img/close.svg");
}

.mobile__button-close:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.mobile__button-search {
  background-image: url("../img/search.svg");
}

.mobile__button-search:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.mobile__button-call {
  margin-right: 16px;
  background-image: url("../img/call.svg");
}

.mobile__button-call:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.mobile__button-chat {
  margin-right: 16px;
  background-image: url("../img/chat.svg");
}

.mobile__button-chat:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.mobile__button-profile {
  margin-right: 16px;
  background-image: url("../img/profile.svg");
}

.mobile__button-profile:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
          transform: scale(1.1) rotate(360deg);
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:first-child) {
  margin-top: 32px;
}

.menu__item-active > a {
  color: #7E7E82;
}

.menu__item-active::before {
  position: absolute;
  content: '';
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  left: 0;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  text-decoration: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.menu__link:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.mobile__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts .contacts__link {
  text-decoration: none;
  color: #1B1C21;
}

.footer__contacts .contacts__link-mail {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.footer__contacts .contacts__link-phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.footer__language {
  text-decoration: none;
  color: #1B1C21;
}

.footer__language-active {
  color: #7E7E82;
}
/*# sourceMappingURL=style.css.map */