.software {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1120px;
  min-height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.software__title {
  min-height: 80px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7E7E82;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.software__content {
  min-width: 0;
}

.software__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 72px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

.software__content-btn {
  border: 2px solid #FF3E79;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: url("../img/dropdown.svg") no-repeat 50%;
}

.software__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.software__content .swiper {
  height: 115px;
}

.software__content .swiper-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.software__content .swiper-slide {
  width: 240px;
}

.hidden {
  display: none !important;
}

.mobileversion {
  display: none;
}

:root {
  --swiper-theme-color: #B5B6BC !important;
}

.notmobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 16px;
}

.vision {
  margin-top: 16px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1B1C21;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-style: none;
  padding-right: 20px;
  background: inherit;
  font-family: 'TTLakes-Medium';
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 768px) {
  .vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .software__title {
    margin-bottom: 40px;
  }
  .software__content {
    min-width: 0;
  }
  .software__content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 224px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }
  .software__content-btn {
    border: 2px solid #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: url("../img/dropdown.svg") no-repeat 50%;
  }
  .software__content-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .software__content .swiper {
    height: 115px;
  }
  .software__content .swiper-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .software__content .swiper-slide {
    width: 240px;
  }
  .software .notmobile::after {
    content: '';
    width: 224px;
  }
}

@media (min-width: 1120px) {
  .vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .software__title {
    margin-bottom: 40px;
  }
  .software__content {
    min-width: 0;
  }
  .software__content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
  }
  .software__content-btn {
    border: 2px solid #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background: url("../img/dropdown.svg") no-repeat 50%;
  }
  .software__content-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .software__content .swiper {
    height: 115px;
  }
  .software__content .swiper-wrapper {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .software__content .swiper-slide {
    width: 240px;
  }
  .software .notmobile::after {
    content: '';
    width: 240px;
  }
}
/*# sourceMappingURL=swiper.css.map */